@charset "UTF-8";

section#corpo-full legend{
    font-family: FonteLogo, sans-serif;
    font-size: 25pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

p#textequacao, #textequacaoVerif{
    margin-bottom: -15px;
}

p#escolhaEquacao{
    margin-bottom: -4px;
}


input#bt-verificar, input#bt-calcular{
    height: 40px;
}

input#bt-verificar{
    margin-top: 31px;
}

div#escreveVerif{
    border:1px solid #808080;
    height: 118px;
    overflow: auto;
    margin-top: 27px;
}

div#escreveCalcFuncao{
    border: 1px solid #808080;
    overflow: auto;
}


footer#rodape-full{
    clear: both; /* ajusta o foot... no seu lugar */
    margin-top: 50px;
    border-top: 1px solid #606060;
}
footer#rodape-full p{
    text-align: center;
}


svg#picture1{
    width: 100%;
}

div#mid.panel{
    border-top: transparent;
    box-shadow:0 0px 0px rgba(0,0,0,0);
    border-radius:0;
    margin-top: -30px;
}

div#sha-painel{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}


.colunas{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    column-gap: 15px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: #808080; /* Chrome, Safari, Opera */
    -moz-column-rule-color: #808080; /* Firefox */
    column-rule-color: #808080;

}

.botaotopo {
    width: 80px;
    display: none;
    position:fixed;
    bottom:5px;
    right:5px;
}

div#textAreaEqua{
    height: 120px;
}



/* tost */
#snackbar01 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -162px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar01.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar02 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -162px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar02.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar03 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -162px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar03.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar04 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -162px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar04.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}