@charset "UTF-8";

section#corpo-full legend{
    font-family: FonteLogo, sans-serif;
    font-size: 25pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

p#textequacao, #textequacaoVerif{
    margin-bottom: -5px;
}

p#escolhaEquacao{
    margin-bottom: -4px;
}


input#bt-verificar, input#bt-calcular{
    height: 40px;
}

input#bt-verificar{
    margin-top: 31px;
}

div#escreveVerif{
    border:1px solid #808080;
    height: 118px;
    overflow: auto;
    margin-top: 27px;
}

div#escreveCalcFuncao{
    border: 1px solid #808080;
    height: 477px;
    margin-top: 27px;
    overflow: auto;
}


footer#rodape-full{
    clear: both; /* ajusta o foot... no seu lugar */
    margin-top: 50px;
    border-top: 1px solid #606060;
}
footer#rodape-full p{
    text-align: center;
}


svg#picture1{
    width: 100%;
}

div#mid.panel{
    border-top: transparent;
    box-shadow:0 0px 0px rgba(0,0,0,0);
    border-radius:0;
    margin-top: -30px;
}