@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web'; /* Importando da Web */
@font-face { /* definindo uma fonte com um arquivo de fonte */
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

body{
    font-family: Arial, sans-serif;
}

/* Formatando a interface que esta dentro do body */
div#interface{
    width: 1000px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
}

/* Formatação do texto */
p{
    text-align: justify;
    text-indent: 30px;
}

a{
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------- */

/* Ajustando o cabeçalho e pondo uma divisoria e um icone (logo) */
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1{
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 20pt;
    padding: 0px;
    margin-top: 0px;
}

/* ------------------------------------------------------------------------------- */

/* Formatação do menu */
nav#menu{
    display: block; /* ajustando para por um bloco fluante */
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: auto;
    margin-left: 240px;
}

/* Formatação do menu em li.. alinhando em uma linha só*/
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px; /* faz o formato de um botão */
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;

}

/* muda de cor o botão */
nav#menu li:hover{
    background-color: #606060;
}

/* ocultando o nome "menu principal" */
nav#menu h1{ /* somente para os mecanismo de busca.. */
    display: none;
}

/* formatando a ancora... retirando sublin. e setando uma cor */
nav#menu a{
    color: black;
    text-decoration: none;
}

/* ação ao passar o mause sobre a ancora */
nav#menu a:hover{
    color: #ffffff;
    /*text-decoration: underline;*/
}

/* ------------------------------------------------------------------------------- */

section#corpo{
    display: block;
    width: 400px;
    float: left; /* Para usar o "float", tem q se usar primeiro o display em blocos */
    border-right: 1px solid #606060;
    padding-right: 15px; /* resolve o problema de conteudo "colado no outro" */
}

article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 18pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 10px;
}
header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 10pt;
    color: #606060;
}

header#cabecalho-artigo h3.direita{
    text-align: right;
}

/* bordas e removeu a linha dupla da tabela e centralizou a tabelaa */
table#tabela{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* td é a celula... então, coloca a borda em cada celula */
table#tabela td{
    border: 1px solid #606060;
    padding: 10px; /* é o espaço interno */
    text-align: center;
    vertical-align: middle;
}

table#tabela td.coluna-esq{
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabela td.coluna-dir{
    background-color: #cecece;
    text-align: left;
}

table#tabela caption{
    color: #888888;
    font-size: 14pt;
    font-weight: bold;
}

table#tabela caption span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral{
    display: block;
    width: 550px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px 0px 5px 10px;
}

div#disqus_thread{
    margin-top: 50px;
}

footer#rodape{
    clear: both; /* ajusta o foot... no seu lugar */
    border-top: 1px solid #606060;
    margin-top: 50px;
}
footer#rodape p{
    text-align: center;

}


/* Container para responsividade Adaptado FranklinBasilio*/
.container{
    float:left;
    width:100%;
}
.content{
    width:70%;
    margin: 0 auto;
    padding: 1.4% 0;
}


}
/* fim*/

